import * as React from "react";
import * as styles from "./styles/{{pascalCase name}}"
export const {{pascalCase name}} = () => {
  return (
    <div className={styles.Main}>My awesome component</div>
  );
};