---
name: {{pascalCase name}}
---

import { Playground, PropsTable } from 'docz'
import { {{pascalCase name}} } from '../../src/components'

# {{pascalCase name}}

## Properties

<PropsTable of={ {{pascalCase name}} } />

## Basic usage

<Playground>
  <{{pascalCase name}} />
</Playground>